.tableHeader {
    background-color: rgb(238, 203, 137);;
    text-align: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(7, 1fr); 
}

#coronadata {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    background-color: rgb(238, 203, 137);
}
ul {
    text-align: center;
    font-size: 20px;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 20px 10px;
}

ul:first-child {
    grid-column: 2/ 3;
  grid-row: 1;
    background-color: chartreuse;

}
footer {
    margin:0;
    padding:0;
    background-color: rgb(242, 228, 255);
}



