html {
    background-color:rgb(203, 211, 220);;
}
body {
    font-family:'Times New Roman', Times, serif;
    color:  rgb(116, 0, 41);
    max-width: 1214px;
    margin:1em auto ;
}
h1,form, header, #input, #button, label {
    margin:0; 
}
header  {
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(116, 0, 41);
    font-size: 1.2em;;
    padding:2em 1em;
    display:flex;
    justify-content: center;
}
p {
    margin:0;
    padding:0 2em;
}
#coronadata {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    padding:1em 0;
    
}
ul {
    border:1px solid rgb(116, 0, 41);
    text-align: center;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 1em;
}
ul:hover {
    box-shadow:5px 5px rgb(116, 103, 108);
}
.day {
    padding:0.2em;
    font-size: 3.4em;
}
.months {
    font-size: 1.2em;
}
.year {
    font-size: 1.2em;
}
.cases {
    padding:0.2em;
    font-size: 1.2em;
}
footer {
    margin:0;
    padding:0;
    background-color: rgb(242, 228, 255);
}



